/** general elements **/

body {
  background-color: white;
}

.subheader {
  font-size: 35px;
  margin-bottom: -16px;
}
#siteDescription {
  font-size: 20px;
  margin-left: 10px;
  color: rgb(80, 80, 80);
}

#mainContent {
  margin-left: 600px;
  width: 60%;
}

/** Styling for pictures **/

#roboticsPic2 {
  float: left;
  min-width: 300px;
  border: 5px solid rgb(255,255,255);
  border-radius: 5px;
  margin-bottom: 5px;

}
#roboticsPic {
  margin-left: -22px;
  margin-top: -28px;
  margin-bottom: -10px;
  width: 600px;
  position: fixed;
}

.headerPics {
  display: inline-grid;
  padding-right: 14px;
  padding-top: 20px;
  padding-left: 14px;
}

#omanPic {
  width: 150px;
}

.resume {
  width: 800px;
}

/**************************/

/** Styling for header **/

.textSection {
  font-family: 'Alegreya Sans';
  position: absolute;
  float: left;
  margin: 15px 0px 0px 0px;
  min-width: 800px;
}

#nameHighlight {
  background: rgba(255, 255, 255, 0.25);
  padding: 25px;
  border-radius: 10px;
  border-bottom: 3px solid black;
  font-size: 55px;
  font-family: 'Alegreya Sans SC';
}

/**************************/

/*** Info divs styling ***/

.sectionContent {
  font-size: 16px;
  padding: 2px 10px 10px 5px;
  border-radius: 10px;
  max-width: 900px;
  background-color: white;
  color: rgb(80, 80, 80);
}

.sectionHeader {
  font-size: 35px;
  margin-top: 25px;
  border-radius: 10px;
  max-width: 400px;
}

#infoDivs {
  max-width: 1500px;
  min-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

details summary::-webkit-details-marker { display:none; }

summary:hover {
  color: rgb(184, 184, 184);
}

/*****************************/
